*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272827;
    background-size: 100%;
    background-repeat: no-repeat;
}


nav {
    display: flex;
    width: 100%;
    height: 10vh;
    
}

nav ul {
    display: flex;
    float: left;
    list-style: none;
    gap: 1rem;
    margin-left: 3%;
    width: 100vh;
    
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(239, 210, 188);
    font-weight: 500;
    margin:8px;
    line-height:67px;
    padding: 2px 0;
    transition: all;
    transition-duration: 350ms;
    border-bottom: 3px solid rgba(255, 81, 0, 0);


}

nav ul li a:hover {
    color: rgb(255, 81, 0);
    border-bottom: 3px solid rgb(255, 81, 0);
}




h1 {
    color: rgba(255, 98, 0, 0.901);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 37vh;
    margin-top:7vh;

}

td {
    list-style: none;
    font-size: 20px;
    position: relative;
    left: 37vh;
    top: 0vh;
    width: 100vh;
    font-size: 11px;

}

tr {
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin:1px;

}

h2 {
    color: rgba(255, 98, 0, 0.901);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 37vh;
    margin-top: 2vh;

}

ol {
    list-style: circle;
    color:rgb(255, 255, 255);
    font-size: 11px;
    margin-left: 37vh;
    margin-top:1vh;
    height: 50%;
    width: 100vh;
    
}

ol li b {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin:3px;
    line-height:11px;
    padding: 5px;
    
}

img {
    position: absolute;
    height: 40vh;
    left: 40px;
    top: 100px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}


